{% if page.previous.url or page.next.url %}
    <div class="{% if include.bottom %}post-nav-bottom{% else %}post-nav-top{% endif %}">
        <div class="container">
            {% if page.previous.url %}
                <a href="{{ page.previous.url }}">
                    &laquo; {{ page.previous.title | truncate: 20 }}
                </a>
            {% endif %}
            {% if page.next.url %}
                <a class="pull-right" href="{{ page.next.url }}">
                    {{ page.next.title | truncate: 20 }} &raquo;
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
