---
blog_list:
    root_selector: section.blog-list li.blog-post
---

/** Blog List
============================================================================ */

{{ page.blog_list.root_selector }} {
    margin-bottom: 40px;
}

{{ page.blog_list.root_selector }} .post-date {
    margin-bottom: 5px;
}

{{ page.blog_list.root_selector }} .post-title {
    margin-top: 0px;
}

{{ page.blog_list.root_selector }} .post-tag:not( :last-child ) {
    margin-right: 5px;
}


/** Blog Post
============================================================================ */


