---
blog_list:
    root_selector: section.blog-list li.blog-post
---

/** Blog List
============================================================================ */

{{ page.blog_list.root_selector }} {
    margin-bottom: 40px;
}

{{ page.blog_list.root_selector }} .post-date {
    margin-bottom: 5px;
    font-size: 16px;
}

{{ page.blog_list.root_selector }} .post-tags {
    line-height: 2;
}

{{ page.blog_list.root_selector }} .post-title {
    margin-top:     0px;
    margin-bottom:  5px;
    font-size:      36px;
}

{{ page.blog_list.root_selector }} .post-tag:not( :last-child ) {
    margin-right: 5px;
}


/** Blog Post
============================================================================ */

article.blog-post .post-title {
    margin-top: 0;
    margin-bottom: 15px;
}

article.blog-post .post-date {
    margin-bottom:  15px;
    font-size:      18px;
}

article.blog-post .post-tag {
    font-size:      12px;
    line-height:    2.3;
}

article.blog-post .post-header {
    margin-bottom: 30px;
}

article.blog-post .post-img {
    margin-bottom: 15px;
}

article.blog-post .post-body h1 {
    font-size:      26px;
    margin-top:     30px;
    border-bottom:  1px solid #AAA;
}

article.blog-post .post-body h2 {
    font-size: 20px;
}

article.blog-post .post-body h3 {
    font-size: 16px;
}
