---
---

.blog-posts .blog-post {
    margin-bottom: 40px;
}

.blog-posts .post-date {
    margin-bottom: 5px;
}

.blog-posts .post-title {
    margin-top: 0px;
}

.blog-posts .post-tag:not( :last-child ) {
    margin-right: 5px;
}
