---
grid:
    padding: 15px

    min_size: 320px
    max_size: 768px


colors:
    text:           '#333'
    link_primary:   '#A60000'
    link_hover:     '#F00'
    text_hover:     '#A60000'
    text_active:    '#F00'


header:
    breakpoints:
        stacked_large:  420px
        horizontal:     720px


footer:
    breakpoints:
        align-left:  720px
    border_color:   '#AAA'
---
/** Default styles.

    This file is templated like any other file in this Jekyll file structure.
    Use Jekyll variables in front-matter section above to define style values
    for use below.

    If you're viewing the compiled file, e.g., through a web browser,
    obviously you won't see this.


    Bootstrap Screen Breakpoints Reference
    --------------------------------------
    Screen-size-based breakpoints and associated media queries used by
    Bootstrap for reference. <http://getbootstrap.com/css/#grid>

    - Extra small devices (phones, less than 768px)

        (No media query since this is the default in Bootstrap)


    - Small devices (tablets, 768px and up)

        @media (min-width: @screen-sm-min) { ... }


    - Medium devices (desktops, 992px and up)

        @media (min-width: @screen-md-min) { ... }


    - Large devices (large desktops, 1200px and up)

        @media (min-width: @screen-lg-min) { ... }
*/


/** Global
============================================================================ */


/** Default
    ------- */

body {
    background-image:   url( '/assets/img/squairy-light.png' );
    font-family:        'Open Sans', sans-serif;
}

a {
    color: {{ page.colors.link_primary }};
}
a:hover {
    color:              {{ page.colors.link_hover }};
    text-decoration:    none;
}

.container {
    min-width: {{ page.grid.min_size }};
    max-width: {{ page.grid.max_size }};
}


/** Header
============================================================================ */


/** Default
    ------- */

header {
    font-family:        'Orbitron', sans-serif;
    border-bottom:      1px solid black;
    padding-top:        0;
    text-align:         center;
    padding-bottom:     {{ page.grid.padding }};
    margin-bottom:      20px;
    box-shadow:         0px 2px 10px #CCC;
    background-color:   rgba( 0, 0, 0, 0.1);
}

header .title {
    font-family:    'Orbitron', sans-serif;
    font-size:      27px;
    font-weight:    bold;
}

header .title a,
header .title a:hover  {
    color: {{ page.colors.text }};
    text-decoration: none;
}

header nav li {
    display:    inline;
    list-style: none;
    font-size:  20px;
}

header nav a {
    color: {{ page.colors.text }};
}
header nav a:hover {
    color:              {{ page.colors.link_primary }};
    text-decoration:    none;
}
header nav li.active a {
    color: {{ page.colors.link_hover }};
}

header nav li:not( :last-child ) {
    margin-right: {{ page.grid.padding }};
}

/** Stacked large
    ------------- */
@media ( min-width: {{ page.header.breakpoints.stacked_large }} ) {
    header .title {
        font-size: 36px;
    }
}


/** Horizontal
    ----------

    - Align-bottom with the title
    - Align-right to the grid container
*/
@media ( min-width: {{ page.header.breakpoints.horizontal }} ) {

    header {
        padding-top:    {{ page.grid.padding | times: 2 }}px;
        text-align:     left;
    }

    header .header-content {
        position: relative;
    }

    header .title {
        display: inline;
    }

    header nav {
        display:    inline;
        position:   absolute;
        bottom:     2px;
        right:      {{ page.grid.padding }};
    }
}

/** Footer
============================================================================ */

footer {
    text-align:         center;
    margin-top:         {{ page.grid.padding | times: 4}}px;
    border-top:         1px solid #AAA;
    padding-top:        {{ page.grid.padding | times: 2}}px;
    background-color:   rgba( 255, 255, 255, 0.4);
    padding-bottom: 100px;
}

/** Large
    ----- */
@media ( min-width: {{ page.footer.breakpoints.align-left }} ) {

    footer .content {
        text-align: left;
    }
}
