---
layout:         default
site_section:   resume
title:          Résumé
---
<div class="resume container">

    <!--
    <h1 class="text-muted">
        {% for title in site.data.resume.meta.titles %}
            {{ title }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </h1>
    -->

    <div class="jumbotron">
        <h1>
            {{ site.data.resume.meta.document_type }}
        </h1>
        <p class="text-muted">
            Now available in <a href="/api/resume.json">JSON</a>.
        </p>
    </div>


    <div class="summary">
        <h2>Summary</h2>
        {% for summary_item in site.data.resume.summary %}
            <ul>
                <li>{{ summary_item | markdownify }}</li>
            </ul>
        {% endfor %}
    </div>


    <h2>Skills</h2>
    {% for skillset in site.data.resume.skills %}
        <h3>{{ skillset[0] }}</h3>
        <ul>
            {% for skill in skillset[1] %}
                <li>{{ skill | markdownify }}</li>
            {% endfor %}
        </ul>
    {% endfor %}


    <h2>Education</h2>
    {% for school in site.data.resume.education %}
        <h3>{{ school[0] }}</h3>
        <ul>
            {% for degree in school[1] %}
                <li>{{ degree }}</li>
            {% endfor %}
        </ul>
    {% endfor %}


    <h2>Experience</h2>
    {% for employer in site.data.resume.experience %}

        {% assign employer_name = employer[0] %}
        {% assign employer_info = employer[1] %}

        <h3>
            {{ employer_name }}
            <br>
            <small>
                {% for role in employer_info.roles %}
                    <span>
                        {{ role }}{% unless forloop.last %}, {% endunless %}
                    </span>
                {% endfor %}
                |
                <span class="text-muted">
                    {{ employer_info.dates.from }} -
                    {{ employer_info.dates.to }}
                </span>
            </small>
        </h3>

        <div class="projects">
            {% for project in employer_info.projects %}

                {% assign project_name = project[0] %}
                {% assign project_desc = project[1] %}

                <h4>{{ project_name }}</h4>
                <p>{{ project_desc | markdownify }}</p>

            {% endfor %}
        </div>
    {% endfor %}


    <h2>Conferences</h2>
    {% for role in site.data.resume.conferences %}
        <h3>{{ role[0] }}</h3>
        <ul>
            {% for conference in role[1] %}
                <li>{{ conference }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
