---
layout:         default
site_section:   resume
title:          Résumé
---
<div class="resume container">
    <p>
        This is the HTML render of my resume.
    </p>

    <p>
        Also available as <a href="{{ site.url }}/resume/resume.json">JSON</a>.
    </p>

    <h2>Summary</h2>
    {{ site.data.resume.summary | markdownify }}

    <h2>Skills</h2>
    {% for skillset in site.data.resume.skills %}
        <h3>{{ skillset[0] }}</h3>
        <ul>
            {% for skill in skillset[1] %}
                <li>{{ skill | markdownify }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h2>Work History</h2>
    {% for employer in site.data.resume.work_history %}

        {% assign employer_name = employer[0] %}
        {% assign employer_info = employer[1] %}

        <h3>{{ employer_name }}</h3>

        <span class="text-muted">
            {{ employer_info.role }}
        </span>
        <span class="text-muted pull-right">
            {{ employer_info.date.from }} -
            {{ employer_info.date.to }}
        </span>

        <div class="projects">
            {% for project in employer_info.projects %}

                {% assign project_name = project[0] %}
                {% assign project_desc = project[1] %}

                <h4>{{ project_name }}</h4>
                <p>{{ project_desc }}</p>

            {% endfor %}
        </div>
    {% endfor %}

</div>
