---
layout:         default
site_section:   blog
name:           Blog
---
<article class="blog-post">

    <a class="back-to-blog-list" href="{{ site.baseurl }}/blog">
        &laquo; Back to Blog List
    </a>

    <h2 class="post-title">
        <a href="{{ site.baseurl }}{{ page.url }}">
            {{ page.title }}
        </a>
    </h2>

    <div class="post-date text-muted">
        {{ page.date | date: "%Y %b %d"}}
    </div>

    <div class="post-tags">
        {% for tag in page.tags %}
            <span class="post-tag label label-default">{{ tag }}</span>
        {% endfor %}
    </div>

    <div class="post-body">
        {{ content }}
    </div>

</article>
