---
layout:         blog
name:           Blog
---
{% include blog-post-nav.html %}

<article class="blog-post container">

    <div class="post-header">
        <h1 class="post-title">
            <a href="{{ site.baseurl }}{{ page.url }}">
                {{ page.title }}
            </a>
        </h1>

        <div class="post-date">
            {{ page.date | date: "%Y %B %d"}}
        </div>

        <p class="post-tags">
            {% for tag in page.tags %}
                <span class="post-tag label label-default">#{{ tag }}</span>
            {% endfor %}
        </p>
    </div>

    <div class="post-body">
        {{ content }}
    </div>

</article>

{% include blog-post-nav.html bottom="true" %}
